body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.page-index{
    margin: auto;
    float: right;
}

.my-menu{
    color: #999;
    font-size: 13px;
}