body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
/*btn-publish{*/
/*    float: right;*/
/*    margin: 20px;*/
/*}*/
/*question-example{*/
/*    background-color: #d9ffea;*/
/*}*/