<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>问题发布页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/myself.css"/>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body >
<div th:insert="navigation::copy"></div>
<div class="container-fluid main" >
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发布</h2>
            <hr/>
            <!--                <div class="input-group">-->
            <!--                    <input type="text" class="form-control" placeholder="问题内容？？" aria-describedby="basic-addon2">-->
            <!--                    <span class="input-group-addon" id="basic-addon2">问题发布</span>-->
            <!--                </div>-->
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题（简明扼要）：</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题？...">
                </div>
                <div class="form-group">
                    <label for="title">问题补充（必填，请参照右侧提示）：</label>
                    <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                    <!--                        <input type="text" class="form-control" id="title" name="title" placeholder="问题标题？...">-->
                </div>
                <div class="form-group">
                    <label for="title">添加标签：</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入问题标签...，以逗号隔开">
                </div>
                <div class="container-fluid main" >
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12"
                             role="alert" th:text="${error}" th:if="${error} != null">

                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success" style="float: right">
                                发布
                            </button>
                        </div>

                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-lg-12 col-sm-12 col-xs-12" style="background-color: #d9ffea">
            <h3>问题发起指南</h3>
            1、问题标题：请简单描述问题，不超过20个字<br />
            2、问题补充：详细描述问题内容，并确保表达清晰，并提供相关资料：<br />
            服务器运行环境；<br />
            软件版本；<br />
            问题发生的上下文；<br />
            可以完整复现问题的代码；<br />
            补充完整的异常和错误信息；<br />
            注意：阅读格式友好，代码和异常信息请用代码标签格式化粘贴；<br />
            3、选择标签：一个或多个合适的标签，不超过10个字<br />
            4、关于积分：发起一个问题会消耗20积分，每回答一个问题获得5积分，请慎重提问！<br />
        </div>
    </div>
</div>
</body>
</html>